
<style>
    /*Footer*/
    .content5{
        background-color: #F7E3EE;
        padding: 20px;
    }
    .footer{
        display: flex;
    }
    .f{
        flex: 0 20%;
    }

    .tt{
        display: table;
        width: 100%;
        padding-left: 150px;
        padding-bottom: 25px;
    }
    .col1{
        display: table-cell;
        width: 25%;
        color: #737373;
        font-size: 18px;

        padding: 10px;
    }
    .col2{
        display: table-cell;
        width: 25%;
        color: #737373;
        font-size: 18px;

        padding: 10px;
    }
</style>
<!-- Footer SECTION -->
<div class="content5">
    <div class="footer">
        <div class="f">
            <div class="logo">
                <img src="img/logo.png">
            </div>
        </div>
        <div class="f">

        </div>
        <div class="f">
            <div class="tt">
                <div class="row">
                    <div class="col1">Headquarters</div>
                    <div class="col2">666 Anywhere St., Any City, Kazakhstan</div>
                </div>
                <div class="row">
                    <div class="col1">Email Address</div>
                    <div class="col2">yarchechin@gmail.com</div>
                </div>
                <div class="row">
                    <div class="col1">Phone Number</div>
                    <div class="col2"></div>
                </div>
                <div class="row">
                    <div class="col1">Social Media</div>
                    <div class="col2"></div>
                </div>
            </div>
        </div>
    </div>

</div>