<%-include('header')-%>
<!--END OF HEADER-->
<style>
   body{ background-image: url('/img/bg.png');
    background-repeat: no-repeat;
    background-size: cover;

    margin: 0;}
</style>
<div class="container1">


    <div class="detail-box">

        <div class="detail-container">
            <h1>
                JAYBARAQAT

            </h1>
            <h3>[jaibarakat]</h3>
            <h2>adverb. feeling of making or becoming less tense or anxious.</h2>
        </div>
    </div>
    <div class="img-box">
        <img src="img/f1.png" alt="">
    </div>

</div>
<!-- WHO WE ARE SECTION -->

<div class = "content">


    <div class="title">

        <h2>Our Mission</h2>
    </div>

    <div class = "textbox" style="font-size: 30px; font-family: Brice ExtraLightSemiExpanded; color: #B44715 ">
        <a>Jaybaraqat  is a place where state-of-the-art technology helps your mind grow stronger. Our goal is to provide you with all the necessary tools to improve your mental well-being and overall happiness.
        </a>

    </div>
    <div class = "image" style="text-align: right;margin-right:10% ">
        <img src="img/j1.png">
    </div>





</div>
<%-include('footer')-%>



<script src="js.js"></script>
</body>

</html>