<head>
    <script src="https://vk.com/js/api/openapi.js?169" type="text/javascript"></script>
    <style>
        #vk_playlist_-2000589907_3589907{

        }
        * {
            box-sizing: border-box;
        }

        body {
            margin: 0;
            background: rgb(210,148,238);
            background: -moz-linear-gradient(90deg, rgba(210,148,238,1) 23%, rgba(197,240,168,1) 100%);
            background: -webkit-linear-gradient(90deg, rgba(210,148,238,1) 23%, rgba(197,240,168,1) 100%);
            background: linear-gradient(90deg, rgba(210,148,238,1) 23%, rgba(197,240,168,1) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#d294ee",endColorstr="#c5f0a8",GradientType=1);
        }



        .column {
            float: left;
            width: 33.33%;
            padding: 20px;
            border:20px;
        }

        /* Clear floats after the columns */
        .row:after {
            content: "";
            display: table;
            clear: both;
        }

        /* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
        @media screen and (max-width:600px) {
            .column {
                width: 100%;
            }
        }
    </style>
    <script
            type="text/javascript"
            src="https://vk.com/js/api/openapi.js?168"
            charset="windows-1251">

    </script>
</head>
<%-include('header')-%>
<body>
<div id="my_playlist">
    <div class="row">
        <div class="column">
        <div id='vk_playlist_-2000589907_3589907'></div>
        </div>
        <script type="text/javascript">
            VK.Widgets.Playlist('vk_playlist_-2000589907_3589907', -2000589907, 3589907, 'b5e4a7801e33787805', {width: 600});
        </script>

                <div class="column">
        <!-- Put this script tag to the place, where the Playlist block will be -->
        <div id='vk_playlist_-2000919915_919915'></div>
                </div>
        <script type="text/javascript">
            VK.Widgets.Playlist('vk_playlist_-2000919915_919915', -2000919915, 919915, 'bc3280dfd5d2050775', {width: 600});
        </script>

        <!-- Put this script tag to the place, where the Playlist block will be -->
                        <div class="column">
                            <div id='vk_playlist_-2000437261_2437261'></div>  </div>
        <script type="text/javascript">

            VK.Widgets.Playlist('vk_playlist_-2000437261_2437261', -2000437261, 2437261, 'f33b9454e68d16463b', {width: 600});
        </script>
        </div>
        <!-- Put this script tag to the <head> of your page -->

    <div class="column">
        <div id='vk_playlist_-137360741_84611784'></div>
    </div>
        <script type="text/javascript">
            VK.Widgets.Playlist('vk_playlist_-137360741_84611784', -137360741, 84611784, '014a60a8cfb46b8524', {width: 600});
        </script>

    <div class="column">
        <div id='vk_playlist_-2000025518_14025518'></div>

    </div>
    <script type="text/javascript">
        VK.Widgets.Playlist('vk_playlist_-2000025518_14025518', -2000025518, 14025518, '26a90f8a2bd74b47b0', {width: 600});
    </script>

    <div class="column">
        <div id='vk_playlist_-2000534555_13534555'></div>

</div>
    <script type="text/javascript">
        VK.Widgets.Playlist('vk_playlist_-2000534555_13534555', -2000534555, 13534555, 'd749bee11f6f0b1cfa', {width: 600});
    </script>
    <div class="column">

    </div>
</div>
</body>
