<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>JAYBARAQAT</title>


    <script src="https://vk.com/js/api/openapi.js?169" type="text/javascript"></script>
<style>

    #vk_podcast{
        margin-top: 5%;
       margin-left: 25%;
        max-width: 50%;
        max-height: 5%;
    }
    body{
        background: rgb(170,233,121);
        background: -moz-linear-gradient(90deg, rgba(170,233,121,1) 0%, rgba(186,241,251,1) 100%);
        background: -webkit-linear-gradient(90deg, rgba(170,233,121,1) 0%, rgba(186,241,251,1) 100%);
        background: linear-gradient(90deg, rgba(170,233,121,1) 0%, rgba(186,241,251,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#aae979",endColorstr="#baf1fb",GradientType=1);
     }
</style>
</head>
<body>
<%-include('header')-%>

<div id="vk_podcast"></div>

<script type="text/javascript">
    VK.Widgets.Podcast('vk_podcast', '-120376415_456239242', '87e3ea29cfd350c30e');
</script>

<script type="text/javascript">
    VK.Widgets.Podcast('vk_podcast', '-187677012_456239148', '87e3ea29cfd350c30e');
</script>

<script type="text/javascript">
    VK.Widgets.Podcast('vk_podcast', '-47577487_456239026', '87e3ea29cfd350c30e');
</script>
<script type="text/javascript">
    VK.Widgets.Podcast('vk_podcast', '-62398004_456239398', '87e3ea29cfd350c30e');
</script>







</body>
</html>