<%-include('header')-%>
<head>
    <meta charset="utf-8">
    <title>Profile</title>
    <link rel="icon" href="img/l1.png">
    <link href="/css/profilest.css" rel="stylesheet" type="text/css">
    <style>

    </style>
</head>



<form action="/logout?_method=DELETE" method="POST">
    <div class="auth">
        <h1 style="color: #6f5acd">Hi, <%= name %> ^^</h1>
        <div class="auth1">

            <input type="name"  name="name" placeholder="Name" required>
            <input type="name"  name="surname" placeholder="Surname"  required>

            <input type="number"  name="age" placeholder="Age" required>


            <input type="number"  name="number" placeholder="Phone Number"  required><br>
            <button CLASS="SAVE">SAVE</button>
            <button type="submit" class="authbtn">Log Out</button>
        </div>



    </div>

</form>
<%-include('footer')-%>
