<head>
    <meta charset="utf-8">
    <title>Sign up</title>
    <link rel="icon" href="img/l1.png">
    <link href="/css/style.css" rel="stylesheet" type="text/css">
</head>

<%-include('header')-%>

<form action="/reg" method="POST">
    <div class="auth"><h1>SIGN UP</h1>
        <% if (messages.error) { %>
            <%= messages.error %>
        <% } %>
        <div>
            <label for="name" style="font-size: 20px"></label>
            <input type="name"  name="name" placeholder="Username" required>
        </div>
        <div>
            <label for="email" style="font-size: 20px"></label>
            <input type="email"  name="email" placeholder="Email"  required>
        </div>
        <div>
            <label for="password" style="font-size: 20px"></label>
            <input type="password" name="password" placeholder="Password"  required>
        </div><br>
        <button type="submit" class="authbtn">Register</button><br>
        <a href="/log" style="color: #ff93dd; font-size: 20px">Login</a>
    </div>
</form>
<%-include('footer')-%>




